@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.main {
  font-family: baskerville;
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

.tick text {
    font-size: .6rem;
}

.yearTick text {
  font-size: .85rem;
}

#authorImageDiv p {
  font-size: 1.2rem;
}

.intro-text {
  max-width: 800px;
}
